@switch (appearance()) {
    @case ("default") {
        <svg [lucideIcon]="loaderIcon" [size]="pixelSize()" class="animate-[spin_1.5s_linear_infinite] motion-reduce:animate-none"></svg>
    }
    @case ("pulsing") {
        <span class="mona-spinner-pulsing-container">
            <span data-segment class="mona-spinner-pulsing-segment mona-spinner-pulsing-1"></span>
            <span data-segment class="mona-spinner-pulsing-segment mona-spinner-pulsing-2"></span>
        </span>
    }
    @case ("pulsing-triad") {
        <span class="mona-spinner-pulsing-triad-container">
            <span data-segment class="mona-spinner-pulsing-triad-segment mona-spinner-pulsing-triad-1"></span>
            <span data-segment class="mona-spinner-pulsing-triad-segment mona-spinner-pulsing-triad-2"></span>
            <span data-segment class="mona-spinner-pulsing-triad-segment mona-spinner-pulsing-triad-3"></span>
        </span>
    }
    @case ("pulsing-ring") {
        <span class="mona-spinner-pulsing-ring-container">
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-1"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-2"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-3"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-4"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-5"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-6"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-7"></span>
            <span data-segment class="mona-spinner-pulsing-ring-segment mona-spinner-pulsing-ring-8"></span>
        </span>
    }
    @case ("converging-spinner") {
        <span class="mona-spinner-converge-container">
            <span data-segment class="mona-spinner-converge-segment mona-spinner-converge-1"></span>
            <span data-segment class="mona-spinner-converge-segment mona-spinner-converge-2"></span>
            <span data-segment class="mona-spinner-converge-segment mona-spinner-converge-3"></span>
            <span data-segment class="mona-spinner-converge-segment mona-spinner-converge-4"></span>
        </span>
    }
}
