@for (row of colorRows(); track $index; let rowIndex = $index) {
    <div class="contents" role="row">
        @for (color of row; track $index; let colIndex = $index) {
            @let i = rowIndex * colorScheme().columns + colIndex;
            <div
                [class]="paletteItemClasses()"
                [attr.data-selected]="color === value()"
                [attr.data-color-index]="i"
                [attr.data-readonly]="readonly()"
                [attr.tabindex]="disabled() ? -1 : i === activeColorIndex() ? 0 : -1"
                [attr.role]="'gridcell'"
                [attr.aria-label]="'Color ' + color"
                [attr.aria-disabled]="disabled()"
                [attr.aria-readonly]="readonly()"
                [attr.aria-selected]="color === value()"
                [style.background-color]="color"
                (click)="onColorSelect(color)"
                (keydown)="onKeyDown($event, i)"
                (focus)="onColorFocus(i)"
                (blur)="onColorBlur()"></div>
        }
    </div>
}
