<mona-text-box
    (inputBlur)="onDateInputBlur()"
    (valueChange)="onDateStringEdit($event)"
    [disabled]="disabled()"
    [value]="currentDateString()"
    [placeholder]="placeholder()"
    [readonly]="readonly() || readonlyInput()"
    [inputAttributes]="inputAttributes()"
    [invalid]="invalid()"
    [required]="required()"
    [clearButton]="showClearButton()"
    [rounded]="rounded()"
    [size]="size()"
    [touched]="touched()">
    @if (prefixTemplate()) {
        <ng-template monaTextBoxPrefixTemplate>
            <ng-container [ngTemplateOutlet]="prefixTemplate()"></ng-container>
        </ng-template>
    }
    <ng-template monaTextBoxSuffixTemplate>
        <button
            monaButton
            look="ghost"
            [iconOnly]="true"
            [rounded]="'none'"
            [size]="size()"
            class="aspect-square h-full w-auto"
            [attr.aria-label]="'Open calendar'"
            [attr.aria-expanded]="expanded()"
            [attr.aria-controls]="popupId"
            [disabled]="disabled() || readonly()"
            [tabindex]="-1"
            (click)="onDateInputButtonClick()">
            <i class="ri-calendar-line"></i>
        </button>
    </ng-template>
</mona-text-box>

<ng-template #popupTemplate>
    <div
        [class]="pickerPopupClass()"
        [id]="popupId"
        aria-modal="true"
        role="dialog"
        aria-label="Date picker"
        cdkTrapFocus>
        <mona-calendar
            [disabledDates]="disabledDates()"
            [minDate]="min()"
            [maxDate]="max()"
            [readonly]="readonly()"
            [rounded]="rounded()"
            [weekNumber]="weekNumber()"
            [firstDay]="firstDay()"
            [value]="value()"
            (valueChange)="onCalendarValueChange($event)">
            @if (decadeCellTemplate()) {
                <ng-template monaCalendarDecadeCellTemplate let-year>
                    <ng-container
                        [ngTemplateOutlet]="decadeCellTemplate()?.templateRef"
                        [ngTemplateOutletContext]="{ $implicit: year }"></ng-container>
                </ng-template>
            }
            @if (monthCellTemplate()) {
                <ng-template monaCalendarMonthCellTemplate let-day let-date="date">
                    <ng-container
                        [ngTemplateOutlet]="monthCellTemplate()?.templateRef"
                        [ngTemplateOutletContext]="{ $implicit: day, date }"></ng-container>
                </ng-template>
            }
            @if (yearCellTemplate()) {
                <ng-template monaCalendarYearCellTemplate let-year let-text="text">
                    <ng-container
                        [ngTemplateOutlet]="yearCellTemplate()?.templateRef"
                        [ngTemplateOutletContext]="{ $implicit: year, text }"></ng-container>
                </ng-template>
            }
        </mona-calendar>
    </div>
</ng-template>
