@if (gridService.addRowVisible()) {
    <div
        class="shrink-0 overflow-hidden border-b border-b-border"
        [style.margin-right.px]="gridService.scrollbarGutterWidth()"
        #addRowScrollElement>
        <table [class]="tableClass()" [style.width.px]="gridService.tableWidth()">
            <colgroup>
                @for (_ of gridService.groupColumns(); track $index) {
                    <col [style.width.px]="gridService.groupColumnWidth" />
                }
                @if (gridService.rowReorderColumnVisible()) {
                    <col [style.width.px]="gridService.rowReorderColumnWidth" />
                }
                @if (gridService.masterDetailTemplate()) {
                    <col [style.width.px]="gridService.detailColumnWidth" />
                }
                @if (gridService.selectionColumnVisible()) {
                    <col [style.width.px]="gridService.selectionColumnWidth" />
                }
                @for (col of columns(); track $index) {
                    <col [style.width.px]="col.calculatedWidth" />
                }
            </colgroup>
            <tbody role="rowgroup">
                <tr monaGridAddRow [columns]="columns()"></tr>
            </tbody>
        </table>
    </div>
}

<cdk-virtual-scroll-viewport
    class="flex-1 min-h-0"
    [itemSize]="gridService.virtualScrollOptions().height"
    [minBufferPx]="gridService.virtualGridMinBuffer()"
    [maxBufferPx]="gridService.virtualGridMaxBuffer()">
    <table #bodyTable [class]="tableClass()" [style.width.px]="gridService.tableWidth()">
        <colgroup>
            @for (_ of gridService.groupColumns(); track $index) {
                <col [style.width.px]="gridService.groupColumnWidth" />
            }
            @if (gridService.rowReorderColumnVisible()) {
                <col [style.width.px]="gridService.rowReorderColumnWidth" />
            }
            @if (gridService.masterDetailTemplate()) {
                <col [style.width.px]="gridService.detailColumnWidth" />
            }
            @if (gridService.selectionColumnVisible()) {
                <col [style.width.px]="gridService.selectionColumnWidth" />
            }
            @for (col of columns(); track $index) {
                <col [style.width.px]="col.calculatedWidth" />
            }
        </colgroup>
        <tbody role="rowgroup">
            @if (gridService.groupColumns().length === 0) {
                <ng-container *cdkVirtualFor="let row of data(); let rowIndex = index">
                    <tr
                        monaGridRow
                        [index]="rowIndex"
                        [row]="row"
                        (click)="onGridRowClick($event, row)"
                        #gridRow="monaGridRow"
                        #rowElement>
                        @if (gridService.rowReorderColumnVisible()) {
                            <td
                                monaGridCell
                                monaGridLockedCell
                                monaGridLogicalCell
                                [structuralColumn]="'reorder'"
                                [cellKind]="'command'"
                                [columnId]="'$rowReorder'"
                                [rowIndex]="rowIndex"
                                [rowUid]="row.uid"
                                [section]="'body'"
                                [colIndex]="gridService.structuralColIndexMap().get('reorder') ?? 0"
                                [firstInRow]="gridService.structuralColIndexMap().get('reorder') === 0"
                                [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'reorder'"
                                [style.width.px]="gridService.rowReorderColumnWidth"
                                [attr.colspan]="1">
                                <mona-grid-row-reorder-handle [row]="row" [pageIndex]="rowIndex" />
                            </td>
                        }
                        @if (gridService.masterDetailTemplate()) {
                            <td
                                monaGridCell
                                monaGridLockedCell
                                [structuralColumn]="'detail'"
                                [masterDetailToggle]="true"
                                monaGridLogicalCell
                                [cellKind]="'detail'"
                                [colIndex]="gridService.structuralColIndexMap().get('detail') ?? 0"
                                [firstInRow]="gridService.structuralColIndexMap().get('detail') === 0"
                                [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'detail'"
                                [rowIndex]="rowIndex"
                                [rowUid]="row.uid"
                                [section]="'body'"
                                [style.width.px]="gridService.detailColumnWidth"
                                [attr.colspan]="1">
                                <span class="flex h-full w-full items-stretch justify-center">
                                    <mona-grid-toggle
                                        [expanded]="gridRow.expanded()"
                                        [type]="'detail'"
                                        [width]="gridService.detailColumnWidth"
                                        (expandedChange)="onToggleDetailClick(row)"></mona-grid-toggle>
                                </span>
                            </td>
                        }
                        @if (gridService.selectionColumnVisible()) {
                            <td
                                monaGridCell
                                monaGridLockedCell
                                [structuralColumn]="'selection'"
                                monaGridLogicalCell
                                [cellKind]="'command'"
                                [columnId]="'$selection'"
                                [rowIndex]="rowIndex"
                                [rowUid]="row.uid"
                                [section]="'body'"
                                [colIndex]="gridService.structuralColIndexMap().get('selection') ?? 0"
                                [firstInRow]="gridService.structuralColIndexMap().get('selection') === 0"
                                [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'selection'"
                                [style.width.px]="gridService.selectionColumnWidth"
                                [attr.colspan]="1">
                                <mona-grid-selection-checkbox [row]="row" [rowIndex]="rowIndex" />
                            </td>
                        }
                        @for (column of columns(); track $index) {
                            @let colIndex = $index + gridService.leadingLogicalColumnCount();
                            <td
                                monaGridCell
                                monaGridLockedCell
                                [column]="column"
                                [dataCell]="true"
                                monaGridLogicalCell
                                [cellKind]="column.kind"
                                [colIndex]="colIndex"
                                [columnId]="column.id"
                                [editable]="
                                    gridService.editableOptions().enabled === true &&
                                    gridService.editableOptions().mode === 'cell' &&
                                    column.kind === 'data' &&
                                    column.editable === true
                                "
                                [rowIndex]="rowIndex"
                                [rowUid]="row.uid"
                                [section]="'body'"
                                [firstInRow]="colIndex === gridService.leadingLogicalColumnCount()"
                                [lastInRow]="
                                    colIndex === gridService.leadingLogicalColumnCount() + columns().length - 1
                                "
                                [attr.colspan]="1"
                                [style.width.px]="column.calculatedWidth"
                                [style.min-width.px]="column.minWidth"
                                (edit)="gridCell.handleLogicalCellEnter()">
                                <mona-grid-cell #gridCell [column]="column" [row]="row"></mona-grid-cell>
                            </td>
                        }
                        @if (gridService.contextMenuItems().length !== 0) {
                            <ng-container
                                [ngTemplateOutlet]="contextMenuTemplate"
                                [ngTemplateOutletContext]="{
                                    $implicit: row.data,
                                    element: rowElement,
                                    index: rowIndex
                                }">
                            </ng-container>
                        }
                    </tr>
                    @if (gridRow.expanded() && !gridService.rowDragInProgress()) {
                        <tr monaGridDetailRow [style.width.px]="gridService.masterDetailRowWidth()">
                            @if (gridService.rowReorderColumnVisible()) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [structuralColumn]="'reorder'"
                                    [attr.colspan]="1"
                                    [style.width.px]="gridService.rowReorderColumnWidth"></td>
                            }
                            <td
                                monaGridCell
                                monaGridLockedCell
                                [lockedStructuralOffset]="gridService.rowReorderStructuralWidth()"
                                [indentCell]="true"
                                [attr.colspan]="1"
                                [style.width.px]="gridService.masterDetailEmptyCellWidth()"></td>
                            @if (gridService.selectionColumnVisible()) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [structuralColumn]="'selection'"
                                    [attr.colspan]="1"
                                    [style.width.px]="gridService.selectionColumnWidth"></td>
                            }
                            <td monaGridCell [masterDetailContent]="true" [attr.colspan]="columns().length">
                                <ng-container
                                    [ngTemplateOutlet]="gridService.masterDetailTemplate()"
                                    [ngTemplateOutletContext]="{ $implicit: row.data }"></ng-container>
                            </td>
                        </tr>
                    }
                </ng-container>
            } @else {
                <ng-container *cdkVirtualFor="let rowItem of flattenedGroupedRows(); let rowIndex = index">
                    @if (rowItem.type === "group") {
                        @let prevRow = flattenedGroupedRows()[rowIndex - 1];
                        @let isCollapsed = gridService.isGroupCollapsed(rowItem.groupKey);
                        <tr
                            [class]="groupRowClass()"
                            role="row"
                            [attr.aria-level]="rowItem.depth + 1"
                            [attr.aria-expanded]="!isCollapsed">
                            @for (_ of gridService.groupColumns() | monaSlice: 0 : rowItem.depth; track $index) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [lockedStructuralOffset]="$index * gridService.groupColumnWidth"
                                    [grouped]="true"
                                    [indentCell]="true"
                                    [attr.colspan]="1"
                                    [style.width.px]="gridService.groupColumnWidth"></td>
                            }
                            @if (gridService.rowReorderColumnVisible()) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [structuralColumn]="'reorder'"
                                    [groupPrefixWidth]="rowItem.depth * gridService.groupColumnWidth"
                                    [grouped]="true"
                                    [indentCell]="true"
                                    [attr.colspan]="1"
                                    [style.width.px]="gridService.rowReorderColumnWidth"></td>
                            }

                            @let colspan =
                                columns().length +
                                gridService.groupColumns().length +
                                (gridService.masterDetailTemplate() ? 1 : 0) +
                                (gridService.selectionColumnVisible() ? 1 : 0) -
                                rowItem.depth +
                                1;

                            <td
                                monaGridCell
                                monaGridLogicalCell
                                [cellKind]="'group'"
                                [rowIndex]="rowIndex"
                                [colIndex]="0"
                                [section]="'body'"
                                [grouped]="true"
                                [groupHeader]="true"
                                [prevRowType]="prevRow?.type"
                                [firstInRow]="true"
                                [lastInRow]="columns().length === 0"
                                [groupKey]="rowItem.groupKey"
                                [attr.colspan]="colspan"
                                (toggle)="onGroupExpandChange(rowItem.groupKey)">
                                <p class="flex h-8 items-center text-sm whitespace-nowrap">
                                    <mona-grid-toggle
                                        [expanded]="!isCollapsed"
                                        [width]="gridService.groupColumnWidth"
                                        [type]="'group'"
                                        (expandedChange)="onGroupExpandChange(rowItem.groupKey)"></mona-grid-toggle>
                                    <span class="font-bold">{{ rowItem.title }}: {{ rowItem.groupValue }}</span>
                                </p>
                            </td>
                        </tr>
                    } @else if (rowItem.type === "groupFooter") {
                        <tr role="row" [class]="footerTableRowClass()">
                            @for (_ of gridService.groupColumns(); track $index) {
                                <td
                                    monaGridFooterTableCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [lockedStructuralOffset]="$index * gridService.groupColumnWidth"
                                    [footerCellWidth]="gridService.groupColumnWidth"></td>
                            }
                            @if (gridService.rowReorderColumnVisible()) {
                                <td
                                    monaGridFooterTableCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [structuralColumn]="'reorder'"
                                    [footerCellWidth]="gridService.rowReorderColumnWidth"></td>
                            }
                            @if (gridService.masterDetailTemplate()) {
                                <td
                                    monaGridFooterTableCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [structuralColumn]="'detail'"
                                    [footerCellWidth]="gridService.detailColumnWidth"></td>
                            }
                            @if (gridService.selectionColumnVisible()) {
                                <td
                                    monaGridFooterTableCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [structuralColumn]="'selection'"
                                    [footerCellWidth]="gridService.selectionColumnWidth"></td>
                            }
                            @for (column of columns(); track $index) {
                                <td
                                    monaGridFooterTableCell
                                    monaGridLockedCell
                                    [column]="column"
                                    [lockedCellHeader]="true"
                                    [footerColumn]="column">
                                    <mona-grid-footer-cell
                                        [column]="column"
                                        [columnIndex]="$index"
                                        [groupKey]="rowItem.groupAggregate.groupKey"></mona-grid-footer-cell>
                                </td>
                            }
                        </tr>
                    } @else if (rowItem.type === "data") {
                        @let nextRow = flattenedGroupedRows()[rowIndex + 1];
                        @let prevRow = flattenedGroupedRows()[rowIndex - 1];
                        <tr
                            (click)="onGridRowClick($event, rowItem.row)"
                            monaGridRow
                            [index]="rowIndex"
                            [row]="rowItem.row"
                            #gridRow="monaGridRow"
                            #rowElement>
                            @for (_ of gridService.groupColumns(); track $index) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [lockedCellHeader]="true"
                                    [lockedStructuralOffset]="$index * gridService.groupColumnWidth"
                                    [grouped]="true"
                                    [indentCell]="true"
                                    [style.width.px]="gridService.groupColumnWidth"></td>
                            }
                            @if (gridService.rowReorderColumnVisible()) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    monaGridLogicalCell
                                    [structuralColumn]="'reorder'"
                                    [grouped]="true"
                                    [cellKind]="'command'"
                                    [columnId]="'$rowReorder'"
                                    [prevRowType]="prevRow?.type"
                                    [nextRowType]="nextRow?.type"
                                    [rowIndex]="rowIndex"
                                    [rowUid]="rowItem.row.uid"
                                    [section]="'body'"
                                    [colIndex]="gridService.structuralColIndexMap().get('reorder') ?? 0"
                                    [firstInRow]="gridService.structuralColIndexMap().get('reorder') === 0"
                                    [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'reorder'"
                                    [style.width.px]="gridService.rowReorderColumnWidth">
                                    <mona-grid-row-reorder-handle [row]="rowItem.row" [pageIndex]="rowIndex" />
                                </td>
                            }
                            @if (gridService.masterDetailTemplate()) {
                                <td
                                    monaGridCell
                                    monaGridLogicalCell
                                    monaGridLockedCell
                                    [structuralColumn]="'detail'"
                                    [grouped]="true"
                                    [masterDetailToggle]="true"
                                    [prevRowType]="prevRow?.type"
                                    [nextRowType]="nextRow?.type"
                                    [rowIndex]="rowIndex"
                                    [rowUid]="rowItem.row.uid"
                                    [section]="'body'"
                                    [cellKind]="'detail'"
                                    [colIndex]="gridService.structuralColIndexMap().get('detail') ?? 0"
                                    [firstInRow]="gridService.structuralColIndexMap().get('detail') === 0"
                                    [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'detail'"
                                    [style.width.px]="gridService.detailColumnWidth">
                                    <span class="flex h-full w-full items-stretch justify-center">
                                        <mona-grid-toggle
                                            [expanded]="gridRow.expanded()"
                                            [type]="'detail'"
                                            [width]="gridService.detailColumnWidth"
                                            (expandedChange)="onToggleDetailClick(rowItem.row)"></mona-grid-toggle>
                                    </span>
                                </td>
                            }
                            @if (gridService.selectionColumnVisible()) {
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [structuralColumn]="'selection'"
                                    [grouped]="true"
                                    monaGridLogicalCell
                                    [cellKind]="'command'"
                                    [columnId]="'$selection'"
                                    [prevRowType]="prevRow?.type"
                                    [nextRowType]="nextRow?.type"
                                    [rowIndex]="rowIndex"
                                    [rowUid]="rowItem.row.uid"
                                    [section]="'body'"
                                    [colIndex]="gridService.structuralColIndexMap().get('selection') ?? 0"
                                    [firstInRow]="gridService.structuralColIndexMap().get('selection') === 0"
                                    [lastInRow]="columns().length === 0 && gridService.structuralLastKind() === 'selection'"
                                    [style.width.px]="gridService.selectionColumnWidth">
                                    <mona-grid-selection-checkbox [row]="rowItem.row" [rowIndex]="rowIndex" />
                                </td>
                            }
                            @for (column of columns(); track $index) {
                                @let colIndex = $index + gridService.leadingLogicalColumnCount();
                                <td
                                    monaGridCell
                                    monaGridLockedCell
                                    [column]="column"
                                    [grouped]="true"
                                    [dataCell]="true"
                                    [prevRowType]="prevRow?.type"
                                    [nextRowType]="nextRow?.type"
                                    monaGridLogicalCell
                                    [cellKind]="column.kind"
                                    [colIndex]="colIndex"
                                    [columnId]="column.id"
                                    [editable]="
                                        gridService.editableOptions().enabled === true &&
                                        gridService.editableOptions().mode === 'cell' &&
                                        column.kind === 'data' &&
                                        column.editable === true
                                    "
                                    [firstInRow]="colIndex === gridService.leadingLogicalColumnCount()"
                                    [lastInRow]="
                                        colIndex === gridService.leadingLogicalColumnCount() + columns().length - 1
                                    "
                                    [rowIndex]="rowIndex"
                                    [rowUid]="rowItem.row.uid"
                                    [section]="'body'"
                                    [style.width.px]="column.calculatedWidth"
                                    [style.min-width.px]="column.minWidth"
                                    (edit)="gridCell.handleLogicalCellEnter()">
                                    <mona-grid-cell #gridCell [column]="column" [row]="rowItem.row"></mona-grid-cell>
                                </td>
                            }
                            @if (gridService.contextMenuItems().length !== 0) {
                                <ng-container
                                    [ngTemplateOutlet]="contextMenuTemplate"
                                    [ngTemplateOutletContext]="{
                                        $implicit: rowItem.row.data,
                                        element: rowElement,
                                        index: rowIndex
                                    }">
                                </ng-container>
                            }
                        </tr>
                        @if (gridRow.expanded() && !gridService.rowDragInProgress()) {
                            <tr monaGridDetailRow [style.width.px]="gridService.masterDetailRowWidth()">
                                @for (
                                    _ of gridService.groupColumns() | monaSlice: 0 : rowItem.depth + 1;
                                    track $index
                                ) {
                                    <td
                                        monaGridCell
                                        monaGridLockedCell
                                        [lockedCellHeader]="true"
                                        [lockedStructuralOffset]="$index * gridService.groupColumnWidth"
                                        [grouped]="true"
                                        [indentCell]="true"
                                        [attr.colspan]="1"
                                        [style.width.px]="gridService.groupColumnWidth"></td>
                                }
                                @if (gridService.rowReorderColumnVisible()) {
                                    <td
                                        monaGridCell
                                        monaGridLockedCell
                                        [structuralColumn]="'reorder'"
                                        [grouped]="true"
                                        [indentCell]="true"
                                        [attr.colspan]="1"
                                        [style.width.px]="gridService.rowReorderColumnWidth"></td>
                                }
                                @let colspan = columns().length + gridService.groupColumns().length;
                                <td
                                    monaGridDetailIndentCell
                                    monaGridLockedCell
                                    [lockedStructuralOffset]="
                                        (rowItem.depth + 1) * gridService.groupColumnWidth +
                                        gridService.rowReorderStructuralWidth()
                                    "
                                    [nextRowType]="nextRow?.type"
                                    [attr.colspan]="1"
                                    [style.width.px]="gridService.masterDetailEmptyCellWidth()"></td>
                                @if (gridService.selectionColumnVisible()) {
                                    <td
                                        monaGridCell
                                        monaGridLockedCell
                                        [structuralColumn]="'selection'"
                                        [attr.colspan]="1"
                                        [style.width.px]="gridService.selectionColumnWidth"></td>
                                }
                                <td monaGridDetailContentCell [nextRowType]="nextRow?.type" [attr.colspan]="colspan">
                                    <ng-container
                                        [ngTemplateOutlet]="gridService.masterDetailTemplate()"
                                        [ngTemplateOutletContext]="{ $implicit: rowItem.row.data }"></ng-container>
                                </td>
                            </tr>
                        }
                    }
                </ng-container>
            }
        </tbody>
    </table>
</cdk-virtual-scroll-viewport>

@if (gridService.hasFooter()) {
    <div [class]="footerClass()" [style.margin-right.px]="gridService.scrollbarGutterWidth()" #footerScrollElement>
        <div>
            <table [class]="footerTableClass()" [style.width.px]="gridService.tableWidth()">
                <colgroup>
                    @for (_ of gridService.groupColumns(); track $index) {
                        <col [style.width.px]="gridService.groupColumnWidth" />
                    }
                    @if (gridService.rowReorderColumnVisible()) {
                        <col [style.width.px]="gridService.rowReorderColumnWidth" />
                    }
                    @if (gridService.masterDetailTemplate()) {
                        <col [style.width.px]="gridService.detailColumnWidth" />
                    }
                    @if (gridService.selectionColumnVisible()) {
                        <col [style.width.px]="gridService.selectionColumnWidth" />
                    }
                    @for (col of columns(); track $index) {
                        <col [style.width.px]="col.calculatedWidth" />
                    }
                </colgroup>
                <tfoot role="rowgroup">
                    <tr [class]="footerTableRowClass()">
                        @for (_ of gridService.groupColumns(); track $index) {
                            <td
                                monaGridFooterTableCell
                                monaGridLockedCell
                                [lockedCellHeader]="true"
                                [lockedStructuralOffset]="$index * gridService.groupColumnWidth"
                                [footerCellWidth]="gridService.groupColumnWidth"></td>
                        }
                        @if (gridService.rowReorderColumnVisible()) {
                            <td
                                monaGridFooterTableCell
                                monaGridLockedCell
                                [lockedCellHeader]="true"
                                [structuralColumn]="'reorder'"
                                [footerCellWidth]="gridService.rowReorderColumnWidth"></td>
                        }
                        @if (gridService.masterDetailTemplate()) {
                            <td
                                monaGridFooterTableCell
                                monaGridLockedCell
                                [lockedCellHeader]="true"
                                [structuralColumn]="'detail'"
                                [footerCellWidth]="gridService.detailColumnWidth"></td>
                        }
                        @if (gridService.selectionColumnVisible()) {
                            <td
                                monaGridFooterTableCell
                                monaGridLockedCell
                                [lockedCellHeader]="true"
                                [structuralColumn]="'selection'"
                                [footerCellWidth]="gridService.selectionColumnWidth"></td>
                        }
                        @for (column of columns(); track $index) {
                            <td
                                monaGridFooterTableCell
                                monaGridLockedCell
                                [column]="column"
                                [lockedCellHeader]="true"
                                [footerColumn]="column">
                                <mona-grid-footer-cell [column]="column" [columnIndex]="$index"></mona-grid-footer-cell>
                            </td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

<ng-template let-rowData let-element="element" let-rowIndex="index" #contextMenuTemplate>
    <mona-contextmenu [target]="element" [items]="gridService.contextMenuItems()"></mona-contextmenu>
    <!--    [context]="{rowData, element, rowIndex}"-->
</ng-template>
