@let dialogIcon = icon();
@let data = dialogData();

<div [class]="contentContainerClass()">
    @if (dialogIcon) {
        <div [class]="iconContainerClass()">
            @if (data.iconTemplate) {
                <ng-container [ngTemplateOutlet]="data.iconTemplate"></ng-container>
            } @else {
                <div [class]="iconClass()">
                    <span aria-hidden="true"></span>
                    <svg [lucideIcon]="dialogIcon.icon" [size]="24" [style.color]="dialogIcon.color"></svg>
                </div>
            }
        </div>
    }
    <div [class]="bodyClass()">
        <div [class]="headerClass()">
            <div [id]="headerId" [class]="titleContainerClass()">
                @if (data.titleTemplate) {
                    <ng-container [ngTemplateOutlet]="data.titleTemplate"></ng-container>
                } @else {
                    <h2 [class]="titleClass()">{{ data.title }}</h2>
                }
            </div>
            @if (data.closable) {
                <div [class]="closeButtonContainerClass()">
                    <button
                        monaButton
                        look="ghost"
                        size="small"
                        [iconOnly]="true"
                        aria-label="Close dialog"
                        (click)="onCloseClick()">
                        <svg lucideX [size]="16"></svg>
                    </button>
                </div>
            }
        </div>

        @let descriptionTemplateId = data.descriptionTemplate ? descriptionId : undefined;
        <div class="p-1" [attr.id]="descriptionTemplateId">
            @if (data.descriptionTemplate) {
                <ng-container [ngTemplateOutlet]="data.descriptionTemplate"></ng-container>
            } @else if (data.description) {
                <p [id]="descriptionId" [class]="descriptionClass()">{{ data.description }}</p>
            }
        </div>

        <div [class]="contentClass()">
            @if (data.content) {
                <ng-container [ngTemplateOutlet]="data.content"></ng-container>
            } @else if (data.text) {
                <p class="select-none">{{ data.text }}</p>
            }
        </div>
    </div>
</div>

@if (data.footerTemplate || (data.actions | monaAny)) {
    @if (data.footerTemplate) {
        <ng-container [ngTemplateOutlet]="data.footerTemplate"></ng-container>
    } @else {
        <div [class]="footerClass()">
            @for (action of data.actions; track $index) {
                <button
                    monaButton
                    type="button"
                    [class]="action.cssClass || ''"
                    [iconOnly]="action.iconOnly || false"
                    [look]="action.look"
                    [rounded]="action.rounded || data.rounded"
                    (click)="onActionClick(action)">
                    {{ action.text }}
                </button>
            }
        </div>
    }
}
