@for (prefixTemplate of prefixTemplateList(); track $index) {
    <span class="flex h-full flex-none flex-wrap items-center overflow-hidden border-none">
        <ng-container *ngTemplateOutlet="prefixTemplate"></ng-container>
    </span>
}
<input
    monaTextBox
    [disabled]="disabled()"
    [required]="required()"
    [type]="'text'"
    inputmode="numeric"
    [readonly]="readonly()"
    [tabIndex]="tabindex()"
    [ngModel]="formattedValue()"
    (ngModelChange)="applyRawValue($event)"
    (keydown)="keydown$.next($event)"
    (focus)="inputFocus.emit($event)"
    (focusout)="inputFocusOut.emit($event)"
    (blur)="onBlur($event)"
    (beforeinput)="beforeInput$.next($event)"
    (wheel)="wheel$.next($event)"
    [size]="size()"
    [class]="inputClasses()"
    autocomplete="off"
    role="spinbutton"
    [attr.aria-disabled]="disabled()"
    [attr.aria-invalid]="invalidInput() || null"
    [attr.aria-readonly]="readonly()"
    [attr.aria-required]="required()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-valuenow]="value()"
    [attr.aria-valuemin]="minValue()"
    [attr.aria-valuemax]="maxValue()"
    [attr.aria-valuetext]="formattedValue()"
    [attr.data-spinners]="spinners()"
    #valueTextBox />
@if (spinners()) {
    <div [class]="spinButtonClasses()">
        <button
            monaButton
            [disabled]="disabled()"
            [tabindex]="-1"
            look="ghost"
            [size]="size()"
            (mousedown)="$event.preventDefault()"
            (pointerdown)="spin$.next('+')"
            (pointerup)="spinStop$.next()"
            (pointerleave)="spinStop$.next()"
            aria-label="Increase value">
            <svg lucideChevronUp [size]="spinButtonIconSize()"></svg>
        </button>
        <button
            monaButton
            [disabled]="disabled()"
            [tabindex]="-1"
            look="ghost"
            [size]="size()"
            (mousedown)="$event.preventDefault()"
            (pointerdown)="spin$.next('-')"
            (pointerup)="spinStop$.next()"
            (pointerleave)="spinStop$.next()"
            aria-label="Decrease value">
            <svg lucideChevronDown [size]="spinButtonIconSize()"></svg>
        </button>
    </div>
}
