@if (scrollsVisible()) {
    <button
        monaButton
        look="link"
        size="small"
        [class]="scrollButtonClass()"
        (click)="startScrolling(tabListElement, 'left', 'single')"
        (pointerdown)="startContinuousScroll($event, tabListElement, 'left')"
        (pointerup)="stopScrolling()"
        [attr.aria-hidden]="true"
        tabindex="-1">
        <svg lucideChevronLeft [size]="16"></svg>
    </button>
}
<div class="w-full h-full overflow-hidden">
    <ul [class]="listClass()" #tabListElement role="tablist">
        @for (tab of tabList(); track tab) {
            @let selected = tab.id === selectedTabId();
            @let itemDisabled = tab.disabled || disabled();
            <li
                monaTabListItem
                [id]="tab.id + '-tab'"
                [active]="selected"
                [disabled]="itemDisabled"
                [rounded]="rounded()"
                role="tab"
                [tabindex]="selected ? 0 : -1"
                [attr.aria-selected]="selected"
                [attr.aria-disabled]="itemDisabled"
                [attr.aria-controls]="tab.id + '-panel'"
                [attr.data-selected]="selected"
                [attr.data-tab-id]="tab.id"
                (click)="onTabClick(tab, tabListElement, $event)">
                <div>
                    @if (tab.titleTemplate) {
                        <ng-container [ngTemplateOutlet]="tab.titleTemplate"></ng-container>
                    } @else {
                        <span>{{ tab.title }}</span>
                    }
                </div>
                @if (tab.closable || closable()) {
                    <button
                        monaButton
                        look="link"
                        [disabled]="itemDisabled"
                        (click)="onTabClose(tab, $event)"
                        class="px-0 h-fit ml-1 w-min"
                        tabindex="-1">
                        <svg lucideX [size]="16"></svg>
                    </button>
                }
            </li>
        }
    </ul>
</div>
@if (scrollsVisible()) {
    <button
        monaButton
        look="link"
        size="small"
        [class]="scrollButtonClass()"
        (click)="startScrolling(tabListElement, 'right', 'single')"
        (pointerdown)="startContinuousScroll($event, tabListElement, 'right')"
        (pointerup)="stopScrolling()"
        [attr.aria-hidden]="true"
        tabindex="-1">
        <svg lucideChevronRight [size]="16"></svg>
    </button>
}
