<div
    [class]="headerClass()"
    role="button"
    [attr.tabindex]="disabled() ? -1 : 0"
    [attr.aria-expanded]="expanded()"
    [attr.aria-controls]="contentId"
    [attr.aria-disabled]="disabled() ? 'true' : undefined"
    (click)="toggle()"
    (keydown.enter)="$event.preventDefault(); toggle()"
    (keydown.space)="$event.preventDefault(); toggle()">
    <div [class]="headerTitleClass()">
        @if (titleTemplate()) {
            <ng-container [ngTemplateOutlet]="titleTemplate()"></ng-container>
        } @else {
            {{ title() }}
        }
    </div>
    <div>
        @for (action of actionsTemplateList(); track $index) {
            <ng-container [ngTemplateOutlet]="action"></ng-container>
        }
    </div>
    <div [class]="iconContainerClass()">
        @if (iconTemplate()) {
            <ng-container
                [ngTemplateOutlet]="iconTemplate()"
                [ngTemplateOutletContext]="{ $implicit: expanded() }"></ng-container>
        } @else {
            @if (expanded()) {
                <svg lucideMinus [size]="14"></svg>
            } @else {
                <svg lucidePlus [size]="14"></svg>
            }
        }
    </div>
</div>
<div
    [id]="contentId"
    [class]="contentClass()"
    [attr.aria-hidden]="!expanded()"
    [attr.inert]="!expanded() ? true : undefined">
    <div>
        <ng-content></ng-content>
    </div>
</div>
