@let handler = templateHandler();

<div class="flex overflow-auto">
    <div class="flex-1 w-full">
        <ul class=" bg-demo-background/10 divide-y divide-border select-none">
            @for (entry of inputProperties(); track $index) {
                <li class="flex flex-col gap-2 py-2">
                    <app-api-input-list-item [entry]="entry" [metadata]="metadata()"
                                             (valueChange)="onValueChange($event.property, $event.value)"></app-api-input-list-item>
                </li>
            }
            @for (entry of outputProperties(); track $index) {
                <li class="flex flex-col gap-2 py-2">
                    <app-api-input-list-item [entry]="entry" [metadata]="metadata()"
                                             (valueChange)="onValueChange($event.property, $event.value)"></app-api-input-list-item>
                </li>
            }
            @if (handler) {
                <ng-container [ngTemplateOutlet]="featureListTemplate"
                              [ngTemplateOutletContext]="{$implicit: templateProperties(), level: 0}"></ng-container>
            }
        </ul>
        @if (subComponentPropertyConfig().length > 0) {
            <div class="border-t border-t-border">
                @for (subComponentEntry of subComponentPropertyConfig(); track $index) {
                    <div class="flex flex-col group">
                        <div class="p-2 text-sm font-semibold flex w-full border-b border-border bg-accent"
                            [class.border-b-0]="$last && !subComponentEntry[1].expanded">
                            <div class="flex-1 flex items-center">{{subComponentEntry[0]}}</div>
                            <div>
                                <button monaButton look="ghost"
                                        (click)="subComponentEntry[1].expanded = !subComponentEntry[1].expanded">
                                    <lucide-angular [name]="expandIcon" [size]="16"></lucide-angular>
                                </button>
                            </div>
                        </div>
                        @if (subComponentEntry[1].expanded) {
                            <ul>
                                @for (property of subComponentEntry[1].inputs; track $index) {
                                    <li class="flex flex-col gap-2 py-2 border-b border-border group-last:last:border-b-0">
                                        <div class="flex flex-col px-2 text-sm gap-2">
                                            <div class="flex gap-1 items-center flex-wrap">
                                                <div class="font-semibold mr-4">{{ property.name }}</div>
                                                <div
                                                    class="px-2 py-0.25 flex items-center justify-center rounded-sm shadow-md bg-primary/90 text-primary-foreground text-xs select-none">
                                                    {{ subComponentEntry[1].inputs|inputProperty:property.name:'type' }}
                                                </div>
                                                <div
                                                    class="px-2 py-0.25 flex items-center justify-center rounded-sm shadow-md bg-primary/90 text-primary-foreground text-xs select-none">
                                                    {{ subComponentEntry[1].inputs|inputProperty:property.name:"kind" }}
                                                </div>
                                            </div>
                                            <div class="font-light text-gray-500 whitespace-pre-line text-sm/3.5">
                                                {{ subComponentEntry[1].inputs|inputProperty:property.name:"description" }}
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>

<ng-template #featureListTemplate let-features let-parentKey="parentKey" let-level="level">
    @for (entry of features; track $index) {
        <li class="flex flex-col gap-2 py-2 select-none" [style.padding-left.rem]="level * 1.5">
            <div class="flex">
                <div class="flex flex-col flex-1 px-2 gap-2 text-sm">
                    <div class="font-semibold">{{ entry[1].name }}</div>
                    <div class="font-light text-gray-500">{{entry[1].description}}</div>
                </div>
                <div class="flex items-center justify-center px-2 gap-2">
                    @if (entry[1].hasCode !== false) {
                        <button monaButton size="small" look="ghost" (click)="entry[1].codeVisible = !entry[1].codeVisible">
                            <lucide-angular [name]="codeIcon" [size]="16"></lucide-angular>
                        </button>
                    }
                    @if (entry[1].type === "boolean" || !entry[1].type) {
                        <mona-switch [ngModel]="entry[1].active"
                                     size="small"
                                     (ngModelChange)="parentKey ? handler!.updateSubFeature('boolean', parentKey, entry[0], $event) : handler!.updateProperty('boolean',entry[0], $event)"></mona-switch>
                    } @else if (entry[1].type === "number") {
                        <mona-numeric-text-box
                            [ngModel]="entry[1].numericValue"
                            (ngModelChange)="parentKey ? handler!.updateSubFeature('number', parentKey, entry[0], $event) : handler!.updateProperty('number',entry[0], $event)"
                            [min]="entry[1].numericMin ?? null"
                            [max]="entry[1].numericMax ?? null"
                            [nullable]="entry[1].numericNullable ?? false"
                            [size]="'small'"
                            class="w-37.5"
                        ></mona-numeric-text-box>
                    } @else if (entry[1].type === "dropdown") {
                        <mona-drop-down-list
                            [data]="entry[1].dropdownDataSource"
                            [ngModel]="entry[1].dropdownValue"
                            (ngModelChange)="parentKey ? handler!.updateSubFeature('dropdown', parentKey, entry[0], $event) : handler!.updateProperty('dropdown',entry[0], $event)"
                            [textField]="entry[1].dropdownTextField"
                            [valueField]="entry[1].dropdownValueField"
                            [size]="'small'"
                            class="w-37.5"
                        >
                            <ng-template monaDropDownListValueTemplate let-dataItem>
                                @if (entry[1].dropdownTextField) {
                                    <span>{{dataItem[entry[1].dropdownTextField]}}</span>
                                } @else {
                                    @if (dataItem === undefined) {
                                        <span>undefined</span>
                                    } @else if (dataItem === null) {
                                        <span>null</span>
                                    } @else {
                                        <span>{{dataItem}}</span>
                                    }
                                }
                            </ng-template>
                            <ng-template monaDropDownListItemTemplate let-dataItem>
                                @if (entry[1].dropdownTextField) {
                                    <span>{{dataItem[entry[1].dropdownTextField]}}</span>
                                } @else {
                                    @if (dataItem === undefined) {
                                        <span>undefined</span>
                                    } @else if (dataItem === null) {
                                        <span>null</span>
                                    } @else {
                                        <span>{{dataItem}}</span>
                                    }
                                }
                            </ng-template>
                        </mona-drop-down-list>
                    }
                </div>
            </div>
            @if (entry[1].codeVisible) {
                <div class="px-2">
                    <app-code-viewer [code]="entry[1].code"
                                     language="html"></app-code-viewer>
                </div>
            }
        </li>
        @if (entry[1].subFeatures && entry[1].active) {
            @let subFeatureEntries = Object.entries(entry[1].subFeatures);
            @if (subFeatureEntries.length > 0) {
                <ng-container [ngTemplateOutlet]="featureListTemplate"
                              [ngTemplateOutletContext]="{$implicit: subFeatureEntries, parentKey: entry[0], level: level + 1}"></ng-container>
            }
        }
    }
</ng-template>
