@let handler = templateHandler();

<div class="flex overflow-auto">
    <div class="flex-1 w-full">
        <ul class=" bg-demo-background/10 divide-y divide-border">
            @for (entry of inputProperties(); track $index) {
                <li class="flex flex-col gap-2 py-2">
                    <app-api-input-list-item [entry]="entry" [metadata]="metadata()"
                                             (valueChange)="onValueChange($event.property, $event.value)"></app-api-input-list-item>
                </li>
            }
            @for (entry of outputProperties(); track $index) {
                <li class="flex flex-col gap-2 py-2">
                    <app-api-input-list-item [entry]="entry" [metadata]="metadata()"
                                             (valueChange)="onValueChange($event.property, $event.value)"></app-api-input-list-item>
                </li>
            }
            @if (handler) {
                @for (entry of templateProperties(); track $index) {
                    <li class="flex flex-col gap-2 py-2">
                        <div class="flex">
                            <div class="flex flex-col flex-1 px-2 gap-2 text-sm">
                                <div class="font-semibold">{{ entry[1].name }}</div>
                                <div class="font-light text-gray-500">{{entry[1].description}}</div>
                            </div>
                            <div class="flex items-center justify-center px-2 gap-2">
                                <button monaButton look="ghost" (click)="entry[1].codeVisible = !entry[1].codeVisible">
                                    <lucide-angular [name]="codeIcon" [size]="20"></lucide-angular>
                                </button>
                                <mona-switch [ngModel]="entry[1].active"
                                             (ngModelChange)="handler.updateProperty(entry[0], $event)"></mona-switch>
                            </div>
                        </div>
                        @if (entry[1].codeVisible) {
                            <div class="px-2">
                                <app-code-viewer [code]="entry[1].code"
                                                 language="html"></app-code-viewer>
                            </div>
                        }
                    </li>
                }
            }
        </ul>
        @if (subComponentPropertyConfig().length > 0) {
            <div class="border-t border-t-border">
                @for (subComponentEntry of subComponentPropertyConfig(); track $index) {
                    <div class="flex flex-col">
                        <div class="p-2 text-sm font-semibold flex w-full">
                            <div class="flex-1 flex items-center">{{subComponentEntry[0]}}</div>
                            <div>
                                <button monaButton look="ghost"
                                        (click)="subComponentEntry[1].expanded = !subComponentEntry[1].expanded">
                                    <lucide-angular [name]="expandIcon" [size]="16"></lucide-angular>
                                </button>
                            </div>
                        </div>
                        @if (subComponentEntry[1].expanded) {
                            <ul>
                                @for (property of subComponentEntry[1].inputs; track $index) {
                                    <li class="flex flex-col gap-2 py-2">
                                        <div class="flex flex-col px-2 text-sm gap-2">
                                            <div class="flex gap-1 items-center flex-wrap">
                                                <div class="font-semibold mr-4">{{ property.name }}</div>
                                                <div
                                                    class="px-2 py-0.25 flex items-center justify-center rounded-sm shadow-md bg-primary/90 text-primary-foreground text-xs select-none">
                                                    {{ subComponentEntry[1].inputs|inputProperty:property.name:'type' }}
                                                </div>
                                                <div
                                                    class="px-2 py-0.25 flex items-center justify-center rounded-sm shadow-md bg-primary/90 text-primary-foreground text-xs select-none">
                                                    {{ subComponentEntry[1].inputs|inputProperty:property.name:"kind" }}
                                                </div>
                                            </div>
                                            <div class="font-light text-gray-500 whitespace-pre-line">
                                                {{ subComponentEntry[1].inputs|inputProperty:property.name:"description" }}
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
