@let handler = templateHandler();

<div class="flex overflow-auto">
    <div class="flex-1 w-full">
        <mona-tabs
            class="[&>div]:border-none [&>div]:shadow-none [&>mona-tab-list]:rounded-none [&>mona-tab-list]:w-full [&>mona-tab-list]:border-b [&>mona-tab-list]:border-b-border gap-0">
            @if (inputProperties().length > 0) {
                <mona-tab title="Inputs">
                    <ng-template monaTabContentTemplate>
                        <ul class="bg-demo-background/10 divide-y divide-border select-none">
                            @for (entry of inputProperties(); track $index) {
                                <li class="flex flex-col gap-2 py-2">
                                    <app-api-input-list-item
                                        [entry]="entry"
                                        [metadata]="metadata()"
                                        (valueChange)="
                                            onValueChange($event.property, $event.value)
                                        "></app-api-input-list-item>
                                </li>
                            }
                        </ul>
                    </ng-template>
                </mona-tab>
            }
            @if (outputProperties().length > 0) {
                <mona-tab title="Outputs">
                    <ng-template monaTabContentTemplate>
                        <ul class="bg-demo-background/10 divide-y divide-border select-none">
                            @for (entry of outputProperties(); track $index) {
                                <li class="flex flex-col gap-2 py-2">
                                    <app-api-input-list-item
                                        [entry]="entry"
                                        [metadata]="metadata()"
                                        (valueChange)="
                                            onValueChange($event.property, $event.value)
                                        "></app-api-input-list-item>
                                </li>
                            }
                        </ul>
                    </ng-template>
                </mona-tab>
            }
            @if (handler) {
                <mona-tab title="Features">
                    <ng-template monaTabContentTemplate>
                        <ul class="bg-demo-background/10 divide-y divide-border select-none">
                            <ng-container
                                [ngTemplateOutlet]="featureListTemplate"
                                [ngTemplateOutletContext]="{
                                    $implicit: templateProperties(),
                                    level: 0
                                }"></ng-container>
                        </ul>
                    </ng-template>
                </mona-tab>
            }
        </mona-tabs>
    </div>
</div>

<ng-template #featureListTemplate let-features let-parentKey="parentKey" let-level="level">
    @for (entry of features; track $index) {
        <li class="flex flex-col gap-2 py-2 select-none" [style.padding-left.rem]="level * 1.5">
            <div class="flex">
                <div class="flex flex-col flex-1 px-2 gap-2 text-sm">
                    <div class="font-semibold">{{ entry[1].name }}</div>
                    <div class="font-light text-gray-500">{{ entry[1].description }}</div>
                </div>
                <div class="flex items-center justify-center px-2 gap-2">
                    @if (entry[1].hasCode !== false) {
                        <button
                            monaButton
                            size="small"
                            look="ghost"
                            (click)="entry[1].codeVisible = !entry[1].codeVisible">
                            <svg lucideCode [size]="16"></svg>
                        </button>
                    }
                    @if (entry[1].type === "boolean" || !entry[1].type) {
                        <mona-switch
                            [ngModel]="entry[1].active"
                            size="small"
                            (ngModelChange)="
                                parentKey
                                    ? handler!.updateSubFeature('boolean', [...parentKey, entry[0]], $event)
                                    : handler!.updateProperty('boolean', entry[0], $event)
                            "></mona-switch>
                    } @else if (entry[1].type === "number") {
                        <mona-numeric-text-box
                            [ngModel]="entry[1].numericValue"
                            (ngModelChange)="
                                parentKey
                                    ? handler!.updateSubFeature('number', [...parentKey, entry[0]], $event)
                                    : handler!.updateProperty('number', entry[0], $event)
                            "
                            [minValue]="entry[1].numericMin ?? null"
                            [maxValue]="entry[1].numericMax ?? null"
                            [nullable]="entry[1].numericNullable ?? false"
                            [size]="'small'"
                            class="w-37.5"></mona-numeric-text-box>
                    } @else if (entry[1].type === "dropdown") {
                        <mona-dropdown-list
                            [data]="entry[1].dropdownDataSource"
                            [ngModel]="entry[1].dropdownValue"
                            [placeholder]="entry[1].placeholder ?? ''"
                            (ngModelChange)="
                                parentKey
                                    ? handler!.updateSubFeature('dropdown', [...parentKey, entry[0]], $event)
                                    : handler!.updateProperty('dropdown', entry[0], $event)
                            "
                            [textField]="entry[1].dropdownTextField"
                            [valueField]="entry[1].dropdownValueField"
                            [showClearButton]="entry[1].clearable"
                            [size]="'small'"
                            class="w-37.5">
                            <ng-template monaDropDownListValueTemplate let-dataItem>
                                @if (entry[1].dropdownTextField) {
                                    <span>{{ dataItem[entry[1].dropdownTextField] }}</span>
                                } @else {
                                    <span>{{ dataItem }}</span>
                                }
                            </ng-template>
                            <ng-template monaDropDownListItemTemplate let-dataItem>
                                @if (entry[1].dropdownTextField) {
                                    <span>{{ dataItem[entry[1].dropdownTextField] }}</span>
                                } @else {
                                    @if (dataItem === undefined) {
                                        <span>undefined</span>
                                    } @else if (dataItem === null) {
                                        <span>null</span>
                                    } @else {
                                        <span>{{ dataItem }}</span>
                                    }
                                }
                            </ng-template>
                        </mona-dropdown-list>
                    } @else if (entry[1].type === "string") {
                        <mona-text-box
                            [ngModel]="entry[1].stringValue"
                            (ngModelChange)="
                                parentKey
                                    ? handler!.updateSubFeature('string', [...parentKey, entry[0]], $event)
                                    : handler!.updateProperty('string', entry[0], $event)
                            "
                            [size]="'small'"
                            class="w-37.5"></mona-text-box>
                    }
                </div>
            </div>
            @if (entry[1].codeVisible) {
                <div class="px-2">
                    <app-code-viewer [code]="entry[1].code" language="html"></app-code-viewer>
                </div>
            }
        </li>
        @if (entry[1].subFeatures && entry[1].active) {
            @let subFeatureEntries = Object.entries(entry[1].subFeatures);
            @if (subFeatureEntries.length > 0) {
                <ng-container
                    [ngTemplateOutlet]="featureListTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: subFeatureEntries,
                        parentKey: parentKey ? [...parentKey, entry[0]] : [entry[0]],
                        level: level + 1
                    }"></ng-container>
            }
        }
    }
</ng-template>
