<ol role="list" [class]="listClass()">
    @for (item of itemComponents(); track item) {
        <li>
            @if ($last) {
                <span aria-current="page" [class]="currentItemClass()">
                    <ng-container [ngTemplateOutlet]="item.templateRef()"></ng-container>
                </span>
            } @else {
                <button
                    type="button"
                    monaBreadcrumbItem
                    [disabled]="disabled() || item.disabled()"
                    (click)="onItemClick(item)">
                    <ng-container [ngTemplateOutlet]="item.templateRef()"></ng-container>
                </button>
            }
        </li>

        @if (!$last) {
            <li aria-hidden="true" role="presentation">
                @if (separatorTemplate()) {
                    <ng-container
                        [ngTemplateOutlet]="separatorTemplate()"
                        [ngTemplateOutletContext]="{ $implicit: $index }"></ng-container>
                } @else {
                    <svg lucideChevronRight [size]="18"></svg>
                }
            </li>
        }
    }
</ol>
