/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use '@angular/cdk/overlay-prebuilt.css';
@use 'remixicon/fonts/remixicon.css';
@source "./projects/mona-ui/";
@source "./projects/mona-ui-tester/";
@import url("https://use.typekit.net/zop2fdb.css");
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@theme {
    --color-background: #fff;
    --color-foreground: #09090b;
    --color-card: #fff;
    --color-card-foreground: #09090b;
    --color-popover: #fff;
    --color-popover-foreground: #09090b;
    --color-primary: #18181b;
    --color-primary-foreground: #fafafa;
    --color-secondary: #f4f4f5;
    --color-secondary-foreground: #18181b;
    --color-muted: #f4f4f5;
    --color-muted-foreground: #71717a;
    --color-accent: #f4f4f5;
    --color-accent-foreground: #18181b;
    --color-destructive: #ef4444;
    --color-destructive-foreground: #fafafa;
    --color-border: #e4e4e7;
    --color-input: #e4e4e7;
    --color-ring: #09090b;
    --color-chart-1: #e76e50;
    --color-chart-2: #2a9d90;
    --color-chart-3: #274754;
    --color-chart-4: #e8c468;
    --color-chart-5: #f4a462;
    //--color-radius: .6rem;
    --color-sidebar-background: #fafafa;
    --color-sidebar-foreground: #3f3f46;
    --color-sidebar-primary: #18181b;
    --color-sidebar-primary-foreground: #fafafa;
    --color-sidebar-accent: #f4f4f5;
    --color-sidebar-accent-foreground: #18181b;
    --color-sidebar-border: #e5e7eb;
    --color-sidebar-ring: #3b82f6;
    --color-scrollbar-thumb: #d1d5db;
    --color-scrollbar-thumb-hover: #9ca3af;
    --color-scrollbar-thumb-active: #6b7280;
    --color-scrollbar-thumb-focus: #9ca3af;
    --color-scrollbar-track: #f9fafb;
    --color-scrollbar-track-hover: #f4f5f7;
    --color-scrollbar-track-active: #e5e7eb;
    --color-scrollbar-track-focus: #f4f5f7;
    --color-scrollbar-corner: #f9fafb;
}

:root {
    --mona-border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    &:hover {
        background-color: var(--color-scrollbar-thumb-hover);
    }
    &:active {
        background-color: var(--color-scrollbar-thumb-active);
    }
}
::-webkit-scrollbar-corner {
    background: var(--color-scrollbar-corner);
}

html, body {
    width: 100%;
    height: 100%;
    //background: hsl(var(--muted));
    //background: #f8f8f8;
    scroll-behavior: smooth;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
}

//body { font-size: 0.75rem; }

body {
    font-family: "Geist", Helvetica Neue, Helvetica, Arial, sans-serif !important;
}


.popup-noselect {
    user-select: none;
}

.popup-padded {
    padding: 20px;
}

div.mona-tab-strip {
    border: none;
}
