<div class="relative backdrop-blur-sm border border-black text-white rounded-sm font-mono text-sm overflow-hidden flex flex-row">
    <div class="px-4 py-2 text-right text-slate-500 bg-zinc-950 select-none border-r border-r-black">
        @for (line of lineNumbers(); track line) {
            <div>{{ line }}</div>
        }
    </div>
    <pre class="flex-grow overflow-x-auto px-2 py-2 bg-zinc-900"><code class="block" [innerHTML]="highlightedCode()"></code></pre>
    <lucide-angular [name]="copyIcon" [size]="16"
                    (click)="copyToClipboard()"
                    class="absolute top-1.25 right-1.25 opacity-40 hover:opacity-80 transition-opacity ease-in-out duration-100 cursor-pointer"></lucide-angular>
</div>
