<div class="flex flex-col border border-border">
    <div class="flex flex-col border-b border-border bg-demo-background">
        <div class="flex items-center justify-end p-2">
            <mona-drop-down-list [data]="themeDropdownData()" [ngModel]="selectedTheme()"
                                 size="small"
                                 (ngModelChange)="onThemeChange($event)">
                <ng-template monaDropDownListValueTemplate let-dataItem>
                    <span [style.text-transform]="'capitalize'">{{ dataItem }}</span>
                </ng-template>
            </mona-drop-down-list>
        </div>
        <div class="flex flex-1 items-center justify-center p-8 pb-20">
            <ng-content></ng-content>
        </div>
    </div>
    <div>
        <app-config [config]="config()" [metadata]="metadata()" (valueChange)="valueChange.emit($event)"></app-config>
    </div>
</div>
