<div class="flex flex-col border border-border">
    <div class="flex flex-col border-b border-border" [style.background]="background()">
        <div class="flex items-center justify-end p-2 gap-1">
            <button monaButton look="ghost" (click)="onCodeToggle()">
                <svg lucideCode [size]="20"></svg>
            </button>
            <!--            <mona-dropdown-list-->
            <!--                [data]="['ltr', 'rtl']"-->
            <!--                size="small"-->
            <!--                [ngModel]="direction()"-->
            <!--                (ngModelChange)="onDirectionChange($event)">-->
            <!--                <ng-template monaDropDownListItemTemplate let-dataItem>-->
            <!--                    <span [style.text-transform]="'uppercase'">{{ dataItem }}</span>-->
            <!--                </ng-template>-->
            <!--                <ng-template monaDropDownListValueTemplate let-dataItem>-->
            <!--                    <span [style.text-transform]="'uppercase'">{{ dataItem }}</span>-->
            <!--                </ng-template>-->
            <!--            </mona-dropdown-list>-->
            <mona-color-picker
                [value]="customColor()"
                (valueChange)="customColor.set($event)"
                size="small"></mona-color-picker>
            <mona-dropdown-list
                [data]="themeDropdownData"
                textField="text"
                valueField="value"
                [ngModel]="selectedTheme()"
                size="small"
                [style.width.px]="100"
                (ngModelChange)="onThemeChange($event)">
            </mona-dropdown-list>
        </div>
        <div
            class="flex flex-1 items-center justify-center p-8 pb-20 [&_ng-component]:w-full [&_ng-component]:flex [&_ng-component]:flex-col [&_ng-component]:items-center [&_ng-component]:justify-center [&_ng-component]:gap-4">
            <ng-content></ng-content>
        </div>
    </div>
    @if (codeVisible()) {
        <div
            class="grid overflow-hidden border-b border-b-border"
            animate.enter="demo-code-panel-enter"
            animate.leave="demo-code-panel-leave">
            <div class="min-h-0 overflow-hidden p-2">
                <app-code-viewer [code]="config().code || ''" language="html"></app-code-viewer>
            </div>
        </div>
    }
    <div>
        <app-config [config]="config()" [metadata]="metadata()" (valueChange)="valueChange.emit($event)"></app-config>
    </div>
</div>
