<mona-button-group selection="single" [size]="'small'">
    <button
        monaButton
        [selected]="alignLeftSelected()"
        [toggleable]="false"
        (click)="onAlignLeft()"
        [title]="messages().alignLeft">
        <i class="ri-align-left"></i>
    </button>
    <button
        monaButton
        [selected]="alignCenterSelected()"
        [toggleable]="false"
        (click)="onAlignCenter()"
        [title]="messages().alignCenter">
        <i class="ri-align-center"></i>
    </button>
    <button
        monaButton
        [selected]="alignRightSelected()"
        [toggleable]="false"
        (click)="onAlignRight()"
        [title]="messages().alignRight">
        <i class="ri-align-right"></i>
    </button>
    <button
        monaButton
        [selected]="alignJustifySelected()"
        [toggleable]="false"
        (click)="onAlignJustify()"
        [title]="messages().justify">
        <i class="ri-align-justify"></i>
    </button>
</mona-button-group>
