<div class="flex flex-col select-none">
    <!-- TOC Title -->
    <h3 class="text-xs font-semibold uppercase tracking-widest text-muted-foreground mb-4 px-1">
        On this page
    </h3>

    <!-- TOC Navigation Links List -->
    <ul class="relative flex flex-col gap-1 border-s border-border">
        @for (item of visibleSections(); track item.id()) {
            <li [attr.data-depth]="item.depth()">
                <a class="block border-s-2 -ms-[1px] py-1.5 pe-3 ps-4 text-sm font-medium transition-colors cursor-pointer"
                   [attr.aria-current]="activeSectionId() === item.id() ? 'location' : null"
                   [class.border-primary]="activeSectionId() === item.id()"
                   [class.border-transparent]="activeSectionId() !== item.id()"
                   [class.font-semibold]="activeSectionId() === item.id()"
                   [class.text-muted-foreground]="activeSectionId() !== item.id()"
                   [class.text-primary]="activeSectionId() === item.id()"
                   href="{{currentRoute()}}#{{item.id()}}">
                    <span class="block" [style.padding-left.px]="(item.depth() - 1) * 12">{{ item.header() }}</span>
                </a>
            </li>
        }
    </ul>
</div>
