<div class="flex flex-col">
    <h3 class="font-semibold text-sm pb-4">On this page</h3>
    <ul class="text-sm font-light flex flex-col gap-1">
        @for (item of sections(); track $index) {
            @if (item.parentId() != null) {
                <li [attr.data-depth]="item.depth()" [style.padding-left.px]="(item.depth()-1)*16">
                    <a class="px-2 py-1 rounded-sm hover:bg-gray-100" href="{{currentRoute()}}#{{item.id()}}">{{item.header()}}</a>
                </li>
            }
        }
    </ul>
</div>
