@if (prefixTemplate()) {
    <span [class]="affixClass()">
        <ng-container [ngTemplateOutlet]="prefixTemplate()"></ng-container>
    </span>
}

<input
    monaTextBox
    role="combobox"
    [class]="inputClass()"
    [disabled]="disabled()"
    [id]="id"
    [placeholder]="placeholder()"
    [readonly]="readonly()"
    [rounded]="rounded()"
    [size]="size()"
    [ngModel]="autoCompleteValue()"
    [attr.aria-activedescendant]="activeDescendant()"
    [attr.aria-autocomplete]="'list'"
    [attr.aria-busy]="loading()"
    [attr.aria-controls]="listId"
    [attr.aria-describedby]="ariaDescribedBy() || undefined"
    [attr.aria-expanded]="expanded()"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-invalid]="invalidState() || undefined"
    [attr.aria-label]="effectiveAriaLabel() || undefined"
    [attr.aria-labelledby]="ariaLabelledBy() || undefined"
    (ngModelChange)="autoCompleteValue$.next($event)"
    (blur)="onInputBlur()" />

@if (showClearButton() && autoCompleteValue() && !loading()) {
    <mona-indicator-icon
        preset="clear"
        [interactive]="true"
        label="Clear"
        (activate)="onValueClear($event)"></mona-indicator-icon>
}

@if (loading()) {
    <mona-indicator-icon preset="loading" [size]="12"></mona-indicator-icon>
}

@if (suffixTemplate()) {
    <span [class]="affixClass()">
        <ng-container [ngTemplateOutlet]="suffixTemplate()"></ng-container>
    </span>
}

<span monaDropdownLiveRegion></span>

<ng-template #popupTemplate>
    <div [class]="listPopupClass()">
        <mona-list (itemSelect)="onItemSelect($event)" [focusOnMount]="false" [size]="size()" [listId]="listId">
            @if (footerTemplate()) {
                <ng-template monaListFooterTemplate>
                    <ng-container [ngTemplateOutlet]="footerTemplate()"></ng-container>
                </ng-template>
            }
            @if (groupHeaderTemplate()) {
                <ng-template monaListGroupHeaderTemplate let-group>
                    <ng-container
                        [ngTemplateOutlet]="groupHeaderTemplate()"
                        [ngTemplateOutletContext]="{ $implicit: group }"></ng-container>
                </ng-template>
            }
            @if (headerTemplate()) {
                <ng-template monaListHeaderTemplate>
                    <ng-container [ngTemplateOutlet]="headerTemplate()"></ng-container>
                </ng-template>
            }
            @if (itemTemplate()) {
                <ng-template monaListItemTemplate let-dataItem>
                    <ng-container
                        [ngTemplateOutlet]="itemTemplate()"
                        [ngTemplateOutletContext]="{ $implicit: dataItem }"></ng-container>
                </ng-template>
            }
            @if (noDataTemplate()) {
                <ng-template monaListNoDataTemplate>
                    <ng-container [ngTemplateOutlet]="noDataTemplate()"></ng-container>
                </ng-template>
            }
        </mona-list>
    </div>
</ng-template>
