<ng-template>
    <div [class]="baseClasses()" [id]="uid" role="dialog" [attr.aria-labelledby]="headerId()" [attr.data-uid]="uid">
        <div>
            @if (title() || titleTemplateRef()) {
                <div [class]="headerClasses()" [id]="headerId()">
                    @if (titleTemplateRef()) {
                        <ng-container [ngTemplateOutlet]="titleTemplateRef()"></ng-container>
                    } @else {
                        <span>{{ title() }}</span>
                    }
                </div>
            }
            <div [class]="contentClasses()">
                <ng-content></ng-content>
            </div>
            @if (footerTemplateRef()) {
                <div class="mona-popover-footer">
                    <ng-container [ngTemplateOutlet]="footerTemplateRef()"></ng-container>
                </div>
            }
        </div>
        @if (displayArrow()) {
            <div [class]="arrowClasses()" [attr.data-position]="currentArrowPosition()"></div>
        }
    </div>
</ng-template>
