@for (option of options(); track option.value) {
    @let selected = option.value === value();
    @let optionDisabled = disabled() || option.disabled;

    <label [class]="optionClasses()" [attr.data-selected]="selected" [attr.data-disabled]="optionDisabled">
        <input
            type="radio"
            [name]="groupName"
            [value]="option.value"
            [checked]="selected"
            [disabled]="optionDisabled"
            [class]="inputClasses()"
            (change)="onOptionChange(option)"
            (blur)="onOptionBlur()" />

        <span
            class="pointer-events-none flex flex-1 items-center justify-center gap-1
                   [border-radius:inherit]
                   peer-focus-visible:ring-2
                   peer-focus-visible:ring-focus-indicator/35">
            @if (itemTemplate(); as template) {
                <ng-container
                    [ngTemplateOutlet]="template"
                    [ngTemplateOutletContext]="createOptionContext(option, $index)"></ng-container>
            } @else {
                {{ option.label }}
            }
        </span>
    </label>
}
